/* CODE PARTIALLY FROM WEEK 3 LAB */

* {
    box-sizing: border-box;
}

[class*='col-'] {
    float: left;
}

.col-1of5 {
    width: 20%;
    display: inline-block;
}

.grid:after {
    content: "";
    display: block;
    clear: both;
}
