body {
    background-color: #FFF2EE;
    margin: 2rem 0rem 0rem 0rem;
    /* DEFAULT FONT STYLING*/
    font-family: "Circular", Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.1rem;
    color: #FF5B41;
}


/* -------------------- HEADINGS -------------------- */

h1 {
    max-width: 35rem;
    margin: 0;
    /* FONT STYLING */
    font-size: 3.1rem;
    font-weight: bold;
    letter-spacing: -0.05rem;
}

h2 {
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
    /* FONT STYLING */
    font-size: 1.8rem;
    font-weight: bold;
}

h3 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    /*    display: inline-block;*/
    /* FONT STYLING */
    text-transform: uppercase;
    font-weight: bold;
}

h4 {
    font-size: 1.1rem;
    margin-bottom: 0.6rem;
}

h5 {
    margin-bottom: 0.3rem;
    /* FONT STYLING */
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

@media screen and (max-width: 700px) {
    h1.page_heading {
        width: 100%;
        text-align: center;
    }
}


/* -------------------- PARAGRAPH -------------------- */

a {
    text-decoration: none;
    display: inline;
}

p {
    max-width: 35rem;
    /* FONT STYLING */
    font-size: 0.9rem;
    letter-spacing: 0.02rem;
    line-height: 1.35rem;
    color: #FF5B41;
}

.large_text_paragraph {
    max-width: 33rem;
    margin-top: 1rem;
    /* FONT STYLING */
    font-size: 1.2rem;
    letter-spacing: 0.005rem;
    line-height: 1.6rem;
}

.small_text_paragraph {
    max-width: 33rem;
    margin-top: 1rem;
    /* FONT STYLING */
    font-size: 0.9rem;
    letter-spacing: 0.005rem;
    line-height: 1.4rem;
}

.medium_text_paragraph {
    max-width: 24rem;
    margin-top: 0;
    /*FONT STYLING*/
    font-size: 1.1rem;
    letter-spacing: 0.005rem;
    line-height: 1.6rem;
}

.about_contact_underline {
    max-width: 33rem;
    border-bottom: solid 2px #FF5B41;
    padding-top: 2rem;
}


/* -------------------- LIST ELEMENTS -------------------- */

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding-bottom: 0.5rem;
    /* FONT STYLING */
    /*
    font-size: 0.9rem;
    letter-spacing: 0.02rem;
    line-height: 1.35rem;
    color: #FF5B41;
*/
    font-size: 1.3rem;
    letter-spacing: 0.005rem;
    line-height: 1.6rem;
}

.bulleted_list {
    margin-left: 2rem;
}

.bulleted_list>li {
    list-style-type: disc;
}

.numbered_list {
    margin-left: 2rem;
}

.numbered_list>li {
    list-style-type: decimal-leading-zero;
}


/*  -------------------- LINK STYLING -------------------- */

.text_link {
    text-decoration: none;
    color: #FF5B41;
    border-bottom: solid;
    border-width: 2px;
    transition: 0.3s;
}

.text_link:hover {
    color: #4B86DC;
}


/* -------------------- FORM ELEMENTS -------------------- */

.purchase_form {
    max-width: 40rem;
}

.purchase_form_1-of-1 {
    width: 99.5%;
}

.purchase_form_1-of-2 {
    display: inline-block;
    width: 48%;
    margin-right: 3%;
}

.purchase_form_2-of-2 {
    display: inline-block;
    width: 48%;
}

.three_quarter {
    width: 74%;
}

.one_quarter {
    width: 22%;
}

@media screen and (max-width: 500px) {
    .purchase_form_1-of-1 {
        width: 100%;
    }
    .purchase_form_1-of-2 {
        width: 100%;
        margin-right: 0%;
    }
    .purchase_form_2-of-2 {
        width: 100%;
    }
    .three_quarter {
        width: 100%;
    }
    .one_quarter {
        width: 100%;
    }
}

.button-container {
    padding-top: 3rem;
}

.form_button {
    display: inline-block;
    display: block;
    padding: 0.6rem 1rem;
    /*    margin-right: 3rem; */
    /* FONT STYLING */
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.3s;
}

.form_button:hover, .form_button:focus {
    background-color: #4B86DC;
    border: medium solid #4B86DC;
    /*#B1F0DA;*/
    color: #FFF;
    cursor: pointer;
    opacity: 1;
}

.submit_button {
    display: inline-block;
    border: medium solid #FF5B41;
    background-color: #FF5B41;
    color: #FFF;
}

.reset_button {
    display: inline-block;
    border: medium solid #FF5B41;
    background-color: #FF5B41;
    opacity: 0.5;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: #FFF;
}

@media screen and (max-width: 700px) {
    .submit_button {
        width: 100%;
        text-align: center;
    }
    .reset_button {
        width: 100%;
        text-align: center;
    }
}

.label_form {
    display: block;
    /*    width: 20rem;*/
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

.input_form {
    width: 100%;
    padding: 0.8rem 1rem;
    border: medium solid #FFF;
    /*    margin-bottom: 1rem;*/
    transition: 0.3s;
    outline: none;
}

.input_form_short {
    width: 20rem;
}

.input_form_long {
    display: block;
    width: 100%;
    max-width: 35rem;
    height: 10rem;
    padding: 0.8rem 1rem;
    border: medium solid #FFF;
    margin-bottom: 2rem;
    transition: 0.3s;
    outline: none;
}

.input_form:focus, .input_form:hover, .input_form_long:focus, .input_form_long:hover {
    border: medium solid #4B86DC;
}

.extra_top_margin {
    margin-top: 2rem;
}


/* -------------------- CART -------------------- */

.cart_review_container {
    /*    width: 95%;*/
    max-width: 40rem;
    margin: 2rem 0;
}

.cart_image {
    width: 10rem;
    display: block;
}

.cart_product_column {
    display: inline-block;
    width: 48%;
    margin-right: 3%;
}

.cart_quantity_column {
    display: inline-block;
    width: 22%;
    text-align: right;
}

.cart_price_column {
    display: inline-block;
    width: 22%;
    text-align: right;
}

.cart_text {
    font-size: 1.3rem;
    letter-spacing: 0.005rem;
    margin: 0.8rem 0;
    /*    border: medium solid #B1F0DA; */
}

.cart_review_underline {
    border-bottom: solid 2px #FF5B41;
    padding-top: 0rem;
}


/* -------------------- LOGO -------------------- */

#logo {
    position: fixed;
    width: 27rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    z-index: -1;
    opacity: 0.1;
}


/* -------------------- NAVIGATION -------------------- */

nav {
    width: 100%;
    margin: 0;
    text-align: center;
}

.button_nav {
    text-align: center;
    display: inline-block;
    margin: 3rem 2rem 3.3rem 2rem;
    /* FONT STYLING*/
    font-weight: 300;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
}

.button_nav a {
    text-decoration: none;
    border-bottom: solid;
    border-width: 2px;
    color: #FF5B41;
    transition: 0.3s;
}

.button_nav a:hover, .button_nav a:focus {
    color: #4B86DC;
}

@media (max-width: 700px) {
    .button_nav {
        display: block;
        font-weight: 700;
        font-size: 2rem;
    }
    .button_nav a {
        border-width: 4px;
    }
}


/* -------------------- CONTAINERS N STUFF -------------------- */

.content_container {
    margin: auto;
    width: 80%;
    max-width: 1000px;
}

@media screen and (max-width: 700px) {
    .content_container {
        width: 100%;
    }
}

.intro_content_container {
    /* change the name */
    padding: 2rem;
}

.subcontent_group {
    margin-bottom: 2rem;
}


/*
#home_content_head {
    position: absolute;
    bottom: 2rem;
}

#product_listings_container {
    position: absolute;
    top: 105vh;
}
*/


/* -------------------- PRODUCT LISTING -------------------- */

.product_listing {
    padding: 2rem;
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

@media screen and (max-width: 1100px) {
    .product_listing {
        width: 49.5%;
    }
}

@media screen and (max-width: 700px) {
    .product_listing {
        width: 100%;
    }
}

.product_listing_image_container {
    overflow: hidden;
}

.product_listing_image {
    max-width: 100%;
    height: auto;
    transform: scale(1.05);
    transition: 0.3s;
}

.product_listing_info {
    display: block;
    margin-top: 1rem;
    vertical-align: top;
}

.product_listing_name {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    max-width: 15rem;
    color: #FF5B41;
    transition: 0.3s;
}

.product_listing_subinfo {
    border-top: solid 2px #FF5B41;
}

.product_listing_price {
    font-size: 2.2rem;
    /*1.8rem*/
    line-height: 2.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
    max-width: 15rem;
    color: #FF5B41;
    display: inline-block;
}

.product_listing_designer {
    max-width: 10rem;
    margin-top: 0;
    margin-bottom: 1.3rem;
    vertical-align: baseline;
    padding-left: 0.5rem;
    /* FONT STYLING */
    text-align: left;
    font-weight: bold;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #FF5B41;
}

.product_listing>a {
    text-decoration: none;
}

.product_listing_clickable:hover .product_listing_name {
    color: #4B86DC;
}

.product_listing_clickable:hover .product_listing_image {
    transform: scale(1.2);
}


/* -------------------- PRODUCT DETAIL PAGE -------------------- */

.product_detail_image_container {
    display: inline-block;
    width: 40%;
    /*    max-width: 30rem;*/
    padding: 2rem;
}

.product_detail_image {
    width: 100%;
    height: auto;
}

.product_detail_container {
    display: inline-block;
    width: 58%;
    vertical-align: top;
    padding: 2rem;
}

.product_detail_name {
    margin-bottom: 1.5rem;
}

.product_detail_bordered {
    /* div */
    border-top: solid 2px #FF5B41;
    border-bottom: solid 2px #FF5B41;
}

.product_detail_price {
    display: inline-block;
    font-size: 4rem;
}

.product_detail_designer {
    display: inline-block;
    max-width: 12rem;
    margin-left: 1rem;
    margin-top: 1.2rem;
    color: #FF5B41;
    text-decoration: none;
    transition: 0.3s;
}

.product_detail_designer:hover, .product_detail_designer:focus {
    color: #4B86DC;
}

.product_detail_description {
    margin-top: 2rem;
}

.product_detail_subheading {
    margin-top: 1.5rem;
}

.product_detail_quantity_container {
    display: block;
}

.quantity_button {
    display: inline-block;
    margin-right: 0;
}

.quantity_input_form {
    width: 7rem;
    text-align: center;
}

.product_rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  margin-top: 0.5rem;
  /*FONT STYLE*/
  font-size: 1.4rem;
  text-align: center;
}

/* Star rating code taken from https://css-tricks.com/star-ratings/ */
.product_rating > span {
  display: inline-block;
  position: relative;
  width: 1.7em;
}
.product_rating > span:hover:before,
.product_rating > span:hover ~ span:before {
   content: "â—";
   position: absolute;
}

@media screen and (max-width: 700px) {
    .quantity_input_form {
        width: 100%;
    }
}

.product_detail_purchase_container {
    margin-top: 1rem;
    display: block;
}

@media screen and (max-width: 1000px) {
    .product_detail_image_container {
        width: 100%;
    }
    .product_detail_container {
        width: 100%;
    }
}


/* -------------------- UPDATES -------------------- */

.update_container {
    padding: 2rem;
    padding-top: 0;
}

.update_title_container {
    padding-bottom: 1rem;
}

.update_title {
    /* h2 */
    display: inline-block;
    margin-right: 2rem;
}

.update_timestamp {
    /* h3 */
    display: inline-block;
    margin-left: 2rem;
    margin-top: 0;
}

.update_image {
    display: inline-block;
    /*    float: clear;*/
    width: 30%;
}

.update_copy {
    /* p */
    display: inline-block;
    vertical-align: top;
    width: 65%;
    max-width: none;
    padding-left: 2rem;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.update_container_underline {
    border-bottom: solid 2px #FF5B41;
    padding-top: 2rem;
}

@media screen and (max-width: 900px) {
    .update_image {
        width: 100%;
    }
    .update_copy {
        width: 100%;
        padding-left: 0;
        margin-top: 2rem;
    }
}

.product_designer_link {
    border: none;
}

@media screen and (max-width: 700px) {
    .update_title {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
    .update_timestamp {
        /* h3 */
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
    .update_copy {
        width: 100%;
        padding-left: 0;
        margin-top: 2rem;
    }
}


/* -------------------- FOOTER -------------------- */

footer {
    margin-top: 3rem;
}

.footer_container {
    background-color: #FF5B41;
    color: #FFF2EE;
    display: block;
    padding: 2rem 5rem;
}

.footer_top {
    width: 100%;
}

.footer_top_container {
    vertical-align: top;
    padding: 2rem;
}

.footer_title {
    margin-bottom: 1.5rem;
    /*FONT STYLE*/
    font-weight: bold;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.footer_top_text {
    color: #FFF2EE;
    /*FONT STYLE*/
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
}

.footer_input_form {
    width: 100%;
    max-width: 20rem;
    display: inline-block;
    padding: 0.8rem 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: medium solid #FFF;
    transition: 0.3s;
    outline: none;
}

.footer_form_button {
    display: inline-block;
    padding: 0.9rem 0.4rem;
    background-color: #FF5B41;
    border: medium solid #FFF2EE;
    /*FONT STYLING*/
    font-size: 1rem;
    color: #FFF2EE;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.3s;
}

.footer_form_button:hover, .footer_form_button:focus {
    background-color: #4B86DC;
    border: medium solid #4B86DC;
    color: #FFF;
    cursor: pointer;
    opacity: 1;
}

.footer_link {
    color: #FFF2EE;
    /*FONT STYLE*/
    font-size: 0.9rem;
}

.footer_bottom {
    margin-top: 1rem;
}

.footer_copyright {
    list-style-type: none;
    display: inline-block;
    margin: 0 1.3rem;
}

.footer_copyright_container {
    width: 100%;
    text-align: center;
}

.footer_link {
    border: none;
}

.footer_text {
    color: #FFF2EE;
    /*FONT STYLE*/
    font-weight: normal;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.footer_social {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.footer_icons {
    display: inline-block;
    width: 1.3rem;
    margin: 0 1.5rem;
}

@media screen and (max-width: 900px) {
    .footer_container {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 700px) {
    .footer_container {
      padding: 2rem;
      text-align: center;
    }

    .footer_top_container {
      padding-bottom: 0.5rem;
    }

    footer .small_text_paragraph {
        max-width: 100%;
    }

    .footer_input_form {
      width: 100%;
      max-width: 40rem;
      display: block;
      margin-bottom: 1rem;
    }

    .footer_form_button {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .footer_copyright {
        list-style-type: none;
        display: block;
        margin: 0 2rem;
    }

    .footer_icons {
        display: inline-block;
        width: 1.3rem;
        margin: 0 1rem;
    }
}




/* -------------------- STYLE GUIDE STUFF -------------------- ?? */


/* OLD PRICE STUFF???? */


/*
.product_listing_price {
    opacity: 0;
    position: absolute;
    left: 0;
    text-align: center;
    top: 72px;
    width: 100%;
    font-size: 5rem;
    font-weight: bold;
    color: #FFF2EE;
}
*/


/*
.product_listing_price {
    display: inline-block;
    padding-top: 5rem;
    vertical-align: top;
}

.product_listing_price>a {
    text-decoration: none;
    border: 0.6rem solid #B1F0DA;
    padding: 0.7rem 2rem;
    color: #B1F0DA;
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: -0.2rem;
}

.product_listing_price>a:hover {
    text-decoration: none;
    border: 0.6rem solid #B1F0DA;
    background-color: #B1F0DA;
    padding: 0.7rem 2rem;
    color: #FFF;
}
*/


/* HOVER IMAGE W/ TEXT http://www.corelangs.com/css/box/hover.html */

.product_listing_image_container:hover .product_listing_price {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}


/* INTRO SECTION */


/* GO TO HEADING FOR ANCHOR LINKS */

.goto_intro {
    margin: 0.5rem 0;
    margin-top: 2rem;
    padding: 0;
    background-color: #FFF2EE;
    color: #FF5B41;
    /* FONT STYLING */
    font-size: 1rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}


/* CODE */

code {
    display: inline-block;
    width: 40rem;
    /*    background-color: #FFF2EE;*/
    padding: 2.5rem;
    border-style: solid;
    border-width: 0.13rem;
    border-radius: 1.5rem;
    border-color: #ffc0ac;
    color: #393531;
    /* CODE FONT STYLING */
    /*    font-family: Monaco, monospace;*/
    font-size: 0.85rem;
    line-height: 1.3rem;
}


/* ELEMENTS DIVISION */

.rendered {
    display: block;
    padding-bottom: 3.5rem;
    border-bottom: solid;
    border-width: thin;
}

.div_elements {
    display: inline-block;
    vertical-align: top;
    width: 15rem;
    margin-bottom: 5rem;
}


/* SUBTITLES FOR ELEMENT SECTIONS */

.subtitles {
    margin: auto;
    width: 35%;
}

.subtitles>h2 {
    width: 100%;
    margin-top: 8rem;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    background-color: #4B86DC;
    color: #FFF;
}


/* BRAND DIVISION */

.div_brand {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 4rem;
}

.div_brand>h4 {
    width: 15rem;
}


/* TYPOGRAPHY */

.type_brand {
    margin: 0.3rem 0rem;
    /* FONT STYLING */
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    line-height: 2rem;
}

#bold_type_brand {
    font-weight: bold;
}


/* GRID STRUCTURE */

.grid_box {
    background-color: #B1F0DA;
    /* BACKGROUND COLOUR CLIPPING http://stackoverflow.com/questions/14628601/can-i-add-background-color-only-for-padding */
    background-clip: content-box;
    padding: 0 1rem;
    height: 12rem;
}


/* COLOR PALETTE CIRCLES */

.circle_palette {
    display: inline-block;
    width: 13rem;
}

.circle_palette>ul>li {
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
}

#red {
    background-color: #FF5B41;
}

#mint {
    background-color: #B1F0DA;
}

#blue {
    background-color: #4B86DC;
}

#pink {
    background-color: #FFF2EE;
    border-style: solid;
    border-color: #ffc0ac;
    border-width: 0.13rem;
}

.circle {
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 13rem;
    margin-bottom: 1.2rem;
}

#caption_cit {
    margin: 1rem 0;
    /* FONT STYLING */
    font-size: 0.9rem;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 0.03rem;
}
